*, *::after, *::before { box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: var(--typo);
  }
  
  a 
  { text-decoration: none;}

  .container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto ;
  padding: 1rem;
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#nav-left {
  width: 10%;
}
 #nav-left img {
   width: 100%;
 }
#nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
#nav-right a {
  color: var(--grey);
}
#nav-right a:hover {
  color: var(--dark);
}

/* hero page */
#page-hero {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  color: var(--white);
  padding-left: 5rem;
  padding-right: 4rem;
  overflow: hidden;
}
#bloc-hero {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.bloc-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 50%;
}
.bloc-left h1, p {
  margin: 0;
}
.bloc-left a {
  background-color: var(--white);
  color: black;
  border-radius: 7px;
  padding: .75rem 1rem;
  text-align: center;
  width: 150px;
  transition: 0.25s;
}
.bloc-left a:hover {
  background-color: rgb(214, 213, 213);
}
.bloc-right img {
  width: 200px;
  position: relative;
  top: 130px;
}


   /*SERVICES VALE*/

   .services h1 {
     color: black;
     font-weight: 700;
   }

   .services p {
    color: white;
    font-weight: 300;
   }
  

  .section-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;

  }

  .section-services a {
    color: white;
    font-size: 25px;
    font-weight: 700;
  }

  span {
    color: darkorange;
  }

  #ser-left {
    display: inline-block;
    background-image: url(https://i.ibb.co/GF1GLvL/homme.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 180px;
    text-align: center;
  }

  #ser-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #ser-right-one {
    display: inline-block;
    background-image: url(https://i.ibb.co/4sqHfV9/passport.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 69px;
    text-align: center;

  }

  #ser-right-two {
    display: inline-block;
    background-image: url(https://i.ibb.co/qMn5FZm/montgolfiere.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 69px;
    text-align: center;
  }




  /*FIN SERVICES*/