*, *::after, *::before { box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: var(--typo);
  }
  
  a 
  { text-decoration: none;}

  .container {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto ;
    padding: 1rem;
  }

  
   /*SERVICES VALE*/
   .services h1 {
     color: var(--dark);
     font-weight: 700;
   }

   .services p {
    color: var(--white);
    font-weight: 300;
   }
  

  .section-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
  }

  .section-services a {
    color: var(--white);
    font-size: 25px;
    font-weight: 700;
  }

  span {
    color: var(--primary);
  }

  #ser-left {
    display: inline-block;
    background-image: url(https://i.ibb.co/GF1GLvL/homme.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 180px;
    text-align: center;
  }

  #ser-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #ser-right-one {
    display: inline-block;
    background-image: url(https://i.ibb.co/4sqHfV9/passport.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 69px;
    text-align: center;
  }

  #ser-right-two {
    display: inline-block;
    background-image: url(https://i.ibb.co/qMn5FZm/montgolfiere.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 69px;
    text-align: center;
  }
  /*FEATURES*/
  #features{
    background-image: url(https://i.ibb.co/2n3kVxv/wave-png.png);
    background-image: 100%;
    background-repeat: no-repeat;
    margin-top: 0;
    height: 100vh;
  }

  #grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10rem;
  }

  #titre-features{
    text-align: end;
    margin-top: 4rem;
    font-weight: 700;
  }

  #left-text, #center-text, #right-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #left-text p, #center-text p, #right-text p{
    color: var(--grey);
    font-weight: 300;
  }

  #left-text h3, #center-text h3, #right-text h3{
    font-weight: 600;
    margin-bottom: .5rem;
  }

  #left-text i, #center-text i, #right-text i{
    color: var(--primary);
    font-size: 50px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  /*FOOTER*/

.table-saumon {
  display: inline-block;
  position: absolute;
  left: 200px;
  background-color: var(--primary) ;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  align-content: center;
  height: 400px;
  width: 1200px;
}

.table-saumon-right {
  text-align: right;
}

.table-saumon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 8px;
  margin-right: 200px;
  margin-top: 50px;
}

.footer-noir {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: black;
  color: white; 
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  height: 1000px;
}

.footer img {
  width: 200px; 
}

.footer-right {
  text-decoration: none;
  color: white;
}
